@keyframes wpp{
    from{top:0; left:0;}
    to{top:580px; left:1280px;}  
}

#body1{
    padding-top: 20%;
}#body1 h2{
    font-size: 60px;
    font-family: fantasy;
    font-style: oblique;
}#body1 h3{
    font-size: 40px;
    font-family: fantasy;
    font-style: oblique;
}

#wpp img{
    height: 65px;
    width: 65px;
}

#wpp{
    position: fixed;
    top: 580px; 
    left: 1280px;

    animation-name: wpp;
    animation-duration: 3s;
}
